@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200&display=swap');
body{
  font-family: 'Sarabun';

}

a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}    
.e-rese .footer{
  height: 200px;
  background: url(../images/hero-bg2.png);
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  margin-top: 70px;
}  
.e-rese{
  background-color: #f1f5f8;
  min-height: 100vh;
}
.e-rese h1{ 
  font-weight: 700;
  text-align: center;   
  margin-top: 60px;
  margin-bottom: 60px; 
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #58a342;
  text-shadow: 3px 3px #dce0db; 

}
.e-rese h1:after{
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  width: 90px;
  height: 3px;
  background: #595959;
  top: 100px;
}
#cart{
  position: relative;
  text-align: right;
  margin-bottom: 30px;
}
#cart i{
  font-size: 30px;
  color: #5cb85c;
}
#cart p{
  position: absolute;
  right: -15px;
  top: -5px;
  width: 30px;
  height: 20px;
  border: 2px solid #5cb85c;;
  border-radius: 20px;
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  color: #5cb85c;
  font-weight: bold;
}
.shopping-cart{
  display: none;
  position: absolute;
  right: -40px;
  background-color: #fff; 
  width: 400px;
  margin-top: 30px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  padding: 20px;
  z-index: 111 !important;
}
.shopping-cart:after{
  content: "";
  position: absolute;
  top: -20px;
  right: 50px;
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #fff;
  text-align: left;
}
.shopping-cart ul{
  list-style: none;
  padding-left: 0;
}
.shopping-cart ul{
  list-style: none;
  padding-left: 0;
}
.shopping-cart ul li{
  list-style: none;
  padding-left: 0;
  border-bottom: 2px solid #ebebeb; 
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
.shopping-cart ul li:last-child{ 
  border-bottom: 0px solid #ebebeb;  
}
.shopping-cart ul li img{
  position: absolute;
  left: 0;
  top: 10px;
  height: 50px;
  object-fit: cover;
}
.shopping-cart ul li h5{
  text-align: left;
  padding-left: 90px;
  color: #adadad;
  margin-top: 0px;
  margin-bottom: 0px;
}
.shopping-cart ul li h4{
  text-align: left;
  margin-bottom: 0px;
  padding-left: 90px;
  color: #5cb85c;
}
.shopping-cart ul li h4 span{
  font-size: 22px;
  font-weight: bold;
}
.shopping-cart .btn{
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  background-color: #5cb85c;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  border-radius: 0px;
}
.e-rese .form-search{
  background-color: #c4dcbf;
  padding: 25px;
  border-radius: 10px;
}
.e-rese .form-search .form-control{
  height: 45px;
}
.e-rese .form-search label{
  color: #595959;
}
.input-group { 
  display: flex; 
} 
.e-rese .form-search .form-group {
  margin-bottom: 5px;
}
.btn-default {
  height: 45px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  line-height: 33px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}
.rangex{
  line-height: 40px;
  font-size: 20px;
}
.form-control + i{
  position: absolute;
  left: 0;
  z-index: 112;
  color: #adadad;
  top: 15px;
  left: 15px;
}
.position-relative{
  position: relative;
}
.service-box {
  background: #fff;
  border-bottom: 2px solid #f7f7f7;
  padding: 20px 20px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-radius: 6px;
  transition: .33s all ease-out;  
  margin-bottom: 20px;
}
.service-box .images{
  object-fit: cover;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
.service-box h4{
  color: #000;
  font-weight: bold;
}
.service-box h5{
  color: #f00;
  font-weight: bold;
  text-align: center;
}
.service-box h5 span{
  font-size: 20px;
}
.service-box h6{
  color: #595959;
}
.service-box .btn-success{
  color: #5cb85c;
  height: 45px;
  border-radius: 45px;
  background-color: #fff;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid #5cb85c;
  font-weight: bold;
  transition: .33s all ease-out;  
  line-height: 30px;
}
.service-box .btn-default{
  color: #fff;
  height: 45px;
  border-radius: 45px;
  background-color: #e6e6e6;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid #e6e6e6;
  font-weight: bold;
  line-height: 30px;
}  
.service-box:hover .btn-success{ 
  background-color: #5cb85c; 
  color: #fff;
} 
.service-box:hover{ 
  border-top: 4px solid #5cb85c;
  margin-top: -20px;
} 
.pages{
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 100%;
  margin-top: 30px;
  padding-left: 0px;
}
.pages li{
  display: inline-block; 
  margin-left: 10px;
  margin-right: 10px;
}
.pages li a div{
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  transition: .33s all ease-out;  
}
.pages li.active a div{
  background: #5cb85c; 
  color: #fff;
}
.pages li:hover a div{
  background: #5cb85c; 
  color: #fff;
} 
.pages li:nth-child(n+3){
  display: none;
}
.pages li:last-child{
  display: block;
}
 

/* 
5cb85c

transition: .33s all ease-out;  

*/
@media only screen and (max-width: 1024px) { /* MOBILE */ 
  .e-rese .footer{
    height: 100px;
    background: url(../images/hero-bg2.png);
    background-position: bottom center !important;
    background-repeat: no-repeat !important;
    background-size: 120% auto !important;
    margin-top: 40px;
  }  
  .input-group { 
    display: block; 
  } 
  .e-rese .form-search .form-group label{
    margin-top: 15px;
  }
  .form-control + i{
    display: none;
  }
}
